@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
    background-color: #111;
    color: #c6372e;
}

header {
    font-family: 'Dancing Script', cursive;
}

header .h1 {
    font-size: 5em;
    cursor: default;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    color: #f1f1f1;
}

footer p {
    padding-top: 1em;
}

a {
    color: #c6372e;
}

a:hover {
    color: #e5e5ec;
    text-decoration: none;
}

a:link {
    color: #c6372e;
    text-decoration: none;
}

a:visited {
    color: #c6372e;
    text-decoration: none;
}

a:visited:hover {
    color: #e5e5ec;
    text-decoration: none;
}

.button {
    font-size: 1.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
}

.logo {
    height: 4rem;
    width: 2.25rem;
}

.mousePtr {
    cursor: default;
}

.glassBox {
    padding-bottom: 5rem;
    padding-top: 4rem;
    position: relative;
    width: 100%;
}

.glass {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12em solid transparent;
    border-right: 12em solid transparent;
    border-bottom: 24em solid #c6c6c6;
}

.stuff {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12em solid transparent;
    border-right: 12em solid transparent;
    border-bottom: 24em solid #c6372e;
    -webkit-animation: pourDown 5s infinite;
}

@-webkit-keyframes pourDown {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}